.item-container {
  background-color: #222;
  border: 1px solid #282828;
  padding: 1rem;
  display: flex;
  border-radius: 5px;
  margin: 50px;
}

.item-container .item-image {
  width: 150px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
}

.item-container .item-name {
  font-size: 1.75em;
}

.item-container .item-info {
  font-size: 1.25em;
  margin-left: 15px;
}

.item-container .item-text {
  border-bottom: 1px solid darkgray;
}

@media (max-width: 450px) {
  .item-container .item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
  }
}
