.nav-item {
  font-size: 1.3em;
  padding: 15px;
  margin-left: 0.5rem;
  border-radius: 2px;
}

.nav-item:hover { 
  background-color: #0052296e;
  cursor: pointer;
}

.nav-brand {
  float: left;
  font-size: 2.75em;
  cursor: default;
}

.navbar.bg-dark {
  border: none;
}

@media (max-width: 450px) {
  .nav-item {
    font-size: 0.9em;
  }
}
